@charset "UTF-8";

.logo > a > img{
    width: 300px;
}

.bandeira{
   
}

.sobre{

}


.sobre > p.slideInRight {
    opacity: 1;
    transform: translateX(0);
}

.advogada{

    background-image: url(../imagens/advogada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    

}

#card1{
    background-image: url(../imagens/atuacao1m.jpg);
}

#card2{
    background-image: url(../imagens/atuacao2m.jpg);
  
 }

 #card3{
    background-image: url(../imagens/atuacao3m.jpg);
 }

 #card4{
    background-image: url(../imagens/atuacao4m.jpg);
 }

.txt-missao{
    width: 95%;
    text-align: center;
}
.sessao4{
    height: 200px;
}

.countainer-principal-counter{
    display: flex;
    justify-content: center;
}
  





