@charset "UTF-8";

.bandeira{
    background-position: right;
}

.logo > a > img{
    width: 150px;
}

.imenu span {
    display: block;
  width: 20px;
  height: 2px;
  background-color:  var(--cor1);
  margin-bottom: 5px;
  
  }

  .btn-contato{
    font-size: 0.7em;
    width: 100px;
  }

  .sessao1{
    height: 980px;
    width: 100%;
}

.advogada{
    height: 250px;
    width: 100%;
}

.sobre> .txt> h1{
    font-size: 1.4em;
    margin-bottom: 10px;
}


.sobre> .txt> p{

    width: 90%;
    line-height: 1.5em;
    font-size: 0.7em;
    margin: auto;
    margin-bottom: 20px;
    

}

h1{
  font-size: 1.5em;
}

.container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }





.txt-missao{
    margin-top: 10px;
    width: 80%;
    
    margin: auto; 
}


@media screen and (min-width:380px) and (max-width:499px){
  .sessao1{
    height: 980px;
  }
}