@charset "UTF-8";

.bandeira{
    background-position: right;
}

.logo > a > img{
    width: 180px;
}

.advogada{
    height: 250px;
    width: 100%;
}

.saudacoes> .txt> h1{
    font-size: 1.2em;
}


.saudacoes> .txt> p{

    width: 250px;
    line-height: 1.6em;
    font-size: 0.8em;

}



.bandeira2{   
    background-position:right;}
   

.bandeira2 > p{
    width: 95%;
    top:53.2%;
    transform: translate(-50%,0%);
    text-align: center;
}

.txt-missao{
    margin-top: 10px;
    width: 80%;
    
    margin: auto; 
}
