@charset "UTF-8";
.logo > a > img{
  width: 300px;
}
.desktop{
  display: flex;
  list-style-type: none;
}

.imenu{
  display: none;
}
.menu-lateral{
  display:none;
}

header > nav > ul > li> a{
  color: black;
  text-decoration: none; 
  margin: 20px;

}

header > nav > ul > li> a:hover{
  color: var(--cor2);
 
 
}

header > nav > ul> li{
  display: flex;
  align-items: center;
  height: 30px;
}


header > nav > ul> li:hover{
  background-color:var(--cor1); 
  color: white;
  transition-duration: 0.8s;
  border-radius: 10px;
}

.logo > a > img{
  width: 200px;
}

.bandeira{
  height: 700px;
}

.sobre{
  height: 80%;
}

.txt{
width: 40%;
margin-right: 5%;
}

.sobre> .txt> p{
  width: 100%;


}
.logo > a > img{
  width: 300px;
}



.advogada{

  background-image: url(../imagens/advogada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 560px;


}



#card1{
    background-image: url(../imagens/atuacao1.jpg);
    background-position: left;
  }

#card2{
    background-image: url(../imagens/atuacao2.jpg);
    background-position: left;
 }

 #card3{
    background-image: url(../imagens/atuacao3.jpg);
    background-position: left;
 }

 #card4{
    background-image: url(../imagens/atuacao4.jpg);
    background-position: left;

 }
  

.footer{
  height: 300px;
}
.sessao-footer{

  justify-content: start;
  flex-direction: row;
  
}

.sessao-footer > div{
margin-top: 25px;
margin-right: 60px;
}

@media (min-width: 1024px) and (max-width: 1172px) {
  .ocultar{
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .ocultar2{
    display: none;
  }

  .sessaoservicos{

    width:900px;
   
  
  }
}
 
  



